html {
  height: 500px;
  background-color: red;
  background-image: radial-gradient(       brown,       #F06D06     );
}

body{
  width: 100%;
  font-family: 'Open Sans';
}

h1, h2 {
  text-align: center;
  font-family: 'Open Sans';
  color: white;
}

h1 {
  margin-top: 20%;
  font-family: 'Open Sans';
  font-size: 2.9em;
}

h3 {
  
}

input {
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 1.2em;
  outline: none;
  font-family: 'Open Sans'
}

video {
  display: none;
  padding: 0px;
  margin-top: 50px;
  max-height: 250px; 
  /* min-height: 200px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.display {
  display: block;
}

.column {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  border: 3px solid white;
  font-size: 1.3em;
  padding: 10px;
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 10px;
  font-size: 1.2em;  
  margin-bottom: 50px;
  color: white;
  background-color: #008FA3;
}

.button:hover {
  background-color: black;
  color: white;
}

.excuse-text {
  display: none;
}

.gif {
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
}

.select {
  border: 1px solid;
  font-size: 1.3em;
  padding: 10px;
  margin: 30px;
  display: block;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 0px;
  width: 20%;
  margin-right: auto;
  padding: 10px;
  font-size: 1.2em;
  /* -webkit-appearance: none; */
}